*~
.DS_Store
HTML5/SampleApps/iOS-Hybrid/ContactManager/ContactManager.xcodeproj/xcuserdata
HTML5/SampleApps/iOS-Hybrid/ContactManager/ContactManager.xcodeproj/project.xcworkspace/xcuserdata
build.properties
build.xml
Visualforce/.project
Visualforce/.settings
Visualforce/salesforce.schema
